<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Nom_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Nom produit</th>
            <td mat-cell *matCellDef="let element"> {{element.Nom_produit}} </td>
        </ng-container>


        <ng-container matColumnDef="nom_court_produit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> nom court produit </th>
            <td mat-cell *matCellDef="let element"> {{element.nom_court_produit}} </td>
        </ng-container>

        <ng-container matColumnDef="prix_base">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> prix base </th>
            <td mat-cell *matCellDef="let element"> {{element.prix_base}} </td>
        </ng-container>



        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(row.id)" color="warn">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>